<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, error ipsam! Deleniti rerum maiores ducimus eum minus, praesentium enim cum fuga, molestias inventore esse voluptate officiis? Voluptatibus odio nemo assumenda.</p>
    </div>
</section>