<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Node JS and Mongo DB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolorum numquam facere rem ipsam laboriosam eveniet beatae sapiente nihil, error magni maxime modi doloremque impedit necessitatibus vero libero consequatur quam!</p>
    <ht class="my-4"></ht>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, cumque dolorem inventore nam aliquam quidem natus animi impedit autem iusto quia quos odio laboriosam quis? Labore facilis odio sapiente tenetur!</p>
    <a href="" class="btn btn-primary">Youtube</a>
</div>